*{
    background-color:#FADEE1;
    font-family: 'Kanit', sans-serif;
}
button{
    background-color: #E89292;
    border-radius: 8px;
    border-color: #FADEE1;
    
}
h1{
    color:  #E89292;
}
h2{
    color:  #E89292;
}