<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Kanit&family=KoHo:wght@200&display=swap" rel="stylesheet">
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="number">
		<input type="number" v-model="row">
		<div class="space"></div>
		<h2>สูตรคูณแม่ {{number}} </h2>
		<h3>สูตรคูณแม่ก่อนหน้า -> แม่ {{before_n}}</h3>
		<h3 class = "row" v-for="i in r">{{number}} x {{i}} = {{x(i)}}</h3>
		<h3>ผลรวมสูตรคูณ = {{sum(row)}}</h3>
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				number: 2,
				before_n:1,
				row:12
			},
			methods:{
				x: function(row){
					return this.number*row
				},
				sum: function(row){
					su = 0
					for (var i = 1; i <= row; i++) {
						su += (this.number * i)
					}
					return su
				}
			},
			computed: {
				r: function(){
					return parseInt(this.row)
				}
			},
			watch:{
				number: function(a,b){
					this.before_n = b
				}
			}
		})
	</script>
</body>
</html>